@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  background: #444;
  height: 500px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  text-align: center;
  background: #f5f5f5;
  padding: 10px;
  margin: 10px;
  width: 95%;
  height: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container{
  padding-left: 10%;
  padding-right: 10%;
  margin: 20px;
  text-align: center;
}

.button {
  background-color: #9b9b9b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
}
.add-button {
  background-color: #9b9b9b;
  border: none;
  color: white;
  padding: 15px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  width:15%;
  font-family: 'Montserrat', sans-serif;
}
.inner-cont{
  width: 100%;
}
.list-button{
  background-color: #9b9b9b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  width:30%;
  font-family: 'Montserrat', sans-serif;
}

.report-button{
  background-color: #9b9b9b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  width:30%;
  font-family: 'Montserrat', sans-serif;
}
.list_container{
  background: #fff;
  padding: 30px;
  text-align: left;
  margin: 5%;
  display: none;
}

.report_container{
  background: #fff;
  padding: 30px;
  text-align: left;
  margin: 5%;
  display: none;
}

.td-style{
  padding: 10px;
  margin: 10px;
}

.text {
  width: 60%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.show{
  display: block;
}